/* Set height to 100% for body and html to enable the background image to cover the whole page: */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header{
  width: 100%;
  height: 80px;
  display: block;
  background-color: black;
}

.footer{
  width: 100%;
  height: 80px;
  display: block;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: black;
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
}

body, html {
  height: 100%
}

.bgimg {
  /* Background image */
  background-image: url('BackgroundImage.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: black;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 26px;
}

/* Position text in the bottom-left corner */
.bottom {
  max-width: 50%;
  height; auto;
  position: absolute;
  bottom: 40;
  left: 16px;
  font-size: 18px;
  font-weight: bolder;
}

/* Position text in the middle */
.soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
